// Header.module.scss will have the following styles for the header

.header {
    padding: 5px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.companyName {
    font-size: 28px;
    margin-left: 10px;
    font-weight: bold;
}
